extends layout

block content
	.fluid-container
		.row.dashboard1
			.col-lg-4
				.item1
					p # Sponsored Students
					h1= stud_count
					a.btn.btn-primary(href='#') See Details
			.col-lg-4
				.item2
					p Number of Donors
					h1= donor_count
					a.btn.btn-primary(href='#') See Details
			.col-lg-4
				.item3
					p $ Raised
					h1 $ 
						=donor_amount
					a.btn.btn-primary(href='#') See Details
			.col-lg-4
				.item4
					p Unsponsored Students
					h1= unspon_count
					a.btn.btn-primary(href='#') See Details	
