extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-9
				ul.breadcrumb
					li 
						a(href='/index') Home
					li Sponsor Management
		.row
			.col-lg-9.col-md-9.col-sm-12.searchbox
				form.navbar-form.navbar-center(action='/donor/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search Donor')
						input.btn.btn-default(type='submit', value='search')
		.row
			.col-lg-12.col-md-12.col-sm-12.contentbox
				each donor in donors
					.col-lg-3.col-md-3.donorinnerbox
						h4= donor.firstname+' '+donor.lastname
						p= donor.city+','+donor.state
						h5= donor.email
						a.btn.btn-primary.btn-xs(href=`/donor/editdonor/${donor.id}`) View/Update
		.row
			.col-lg-9.col-md-9
				include _paginate