if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  .fluid-container
    .row
      .paginatebox
        .col-lg-3.col-md-3
          if paginate.hasPreviousPages
            .previous
              a.btn-lg.i.fa.fa-arrow-circle-left(href=paginate.href(true)).prev Prev
          else
            .previous
              a.btn-lg()
                i.fa.fa-arrow-circle-left
        .col-lg-9.col-md-9
          if pages
            each page in pages
              a.btn.btn-primary.pagenbr(href=page.url)= page.number   
        .col-lg-3.col-md-3  
          if paginate.hasNextPages(pageCount)
            .next
              a.btn-lg.i.fa.fa-arrow-circle-right(href=paginate.href()).next Next
          else
            .previous
              a.btn-lg()
                i.fa.fa-arrow-circle-right