if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
  .fluid-container
    .row
        .col-lg-2.col-md-2
          if paginate.hasPreviousPages
            .previous
              a.btn-lg(href=paginate.href(true)).prev Prev
                i.fa.fa-arrow-circle-left
        .col-lg-5.col-md-5
          if pages
            each page in pages
              a.btn-lg.btn-primary(href=page.url)= page.number
        .col-lg-2.col-md-2  
          if paginate.hasNextPages(pageCount)
            .next
              a.btn-lg(href=paginate.href()).next Next
                i.fa.fa-arrow-circle-right