extends ../layout

block content
	.fluid-container
		.row
			.col-lg-9.col-md-9
				ul.breadcrumb
					li 
						a(href='/') Home
					li Student Management
					li Student
		.row
			.col-lg-9.col-md-9.col-sm-12.searchbox
				form.navbar-form.navbar-center(action='/student/search', method='get')
					.form-group
						input.form-control(name='query', placeholder='Search Students')
						input.btn.btn-default(type='submit', value='search')
		.row
			.col-lg-9.col-md-9.col-sm-9.contentbox
				each student in students
					.col-lg-9.col-md-9.contentinnerbox
						p: img.imgbox(src=student.imageThumbnailUrl)
						h5= student.firstname+' '+student.lastname
						h4= student.gender
						a.btn.btn-primary.btn-xs(href=`/student/editstudent/${student.id}`) View/Update
		.row
			.col-lg-9.col-md-9
				include _paginate